.Home {
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .HomeBox {
    background-color: #dfdfdf; /* light background */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); /* soft shadow */
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Home h1 {
    color: #a50034; 
    font-size: 2rem;
    margin-bottom: 20px;
    font-size: clamp(1vw, calc(3vw + 1vh), 5rem); /*dynamically change font size*/
    font-family: monospace;

  }
  
  .Home h2 {
    color: #c72c41;
    font-size: 1.2rem;
    margin-bottom: 40px;
    font-size: clamp(1rem, 10vw, 1.5rem); /*dynamically change*/
  }

